{% extends 'layout.html'%}

{% block content %}

<div class="col-md-4 offset-md-4">
    <div class="card card-body bg-dark text-center">
        <h1 class="h3 font-monospace">Your password: </h1>

        <p class="font-monospace text-danger" id="password">{{password}}</p>

        <!-- Boton para copiar la contraseña-->
        <button class="btn btn-danger" id="copy-button">Copy password</button>

        <div class="alert alert-success mt-3" id="success-message" style="display: none;">
            Password copied to clipboard!
        </div>
    </div>
</div>



<script>
    // Obtiene el boton y el elemento que contiene la contraseña
    const copyButton = document.getElementById('copy-button');
    const passwordElement = document.getElementById('password');
    const successMessage = document.getElementById('success-message');

    // Añade un evento de click al boton
    copyButton.addEventListener('click', () => {
        // Copia la contraseña al portapapeles
        navigator.clipboard.writeText(passwordElement.innerText);

        // Muestra el mensaje de exito
        successMessage.style.display = 'block';

        // Lo oculta despues de 2 segundos
        setTimeout(() => {
            successMessage.style.display = 'none';
        }, 2000);
    });
</script>
{% endblock %}